
<nav class="demo">
  <a href="/" class="brand">
<img class="logo" src="<%=logoURL%>"/>
    <span><%= siteName %> - </span><span style="font-size: 10px;">Created by Ping</span>
  </a>


  <input id="bmenub" type="checkbox" class="show">
  <label for="bmenub" class="burger pseudo button">&#9776;</label>

  <div class="menu">
    <a href="/" class="button">Home Page</a>
    <a href="/stats">Stats Page</a>
  </div>
</nav>
